$white-color: #ffffff;
$black-brown: #212121;
$black: #000000;
$black-06: rgba(0, 0, 0, 0.6);
$blue-gradient: linear-gradient(0deg, #1eacc7 0%, #bcdde4 100%);
$blue-color: #1eacc7;
$black-auto: #070716;
$red-color: linear-gradient(0deg, #c71e1e 0%, #e4bcbc 100%);
$warning: #ff5656;
